
<!DOCTYPE html>
<html>
<head>
    <title>Job Application</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-photo/top-view-business-office-desk-background-applying-job-form-pen-pencil-eyeglasses-tree-wooden-table-background-with-copy-space_1921-21.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
<center><h2><i>JOB APPLICATION</i></h2></center><br><br><br><br>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    </ul>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
</body>
</html>

